.form {

}

.input, .select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2rem 0;
  max-height: 20rem;
  overflow: scroll;
}

.actions {
  display: flex;
  gap: 2rem;
}