.form {

}

.input, .select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button, .button--cancel {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

.button--cancel {
  background-color: darkorange;
}

.button--cancel:hover {
  background-color: orangered;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: #45a049;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.button:hover, .button--cancel:hover {
  transform: translateY(-1px);
}

.button:active, .button--cancel:active {
  transform: translateY(3px);
}

.wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2rem 0;
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.actions {
  display: flex;
  gap: 2rem;
}

.button.disabled {
  cursor: not-allowed;
  background-color: rgba(76, 175, 80, 0.5);
}

.invalid {

}

.textError {
  color: red;
}

.controls {

}

